<!DOCTYPE html>
<html>
<head>
	<title>Timeline</title>
	<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/master.css">
</head>
<body>
	<div id="tl" class="tl_main">
		<template v-for="year in reData">
			<h1>{{year[0]}}</h1>
			<template v-for="month in year[1]">
				<h2>{{month[0]}}</h2>
				<ul class="tl_month">
					<template v-for="course_day in month[1]">
						<li>
							<div class="tl_date">
								<p>{{course_day.init_date_out}}</p>
							</div>
							<div class="tl_divider">
								<span class="tl_punto" v-bind:data-id="course_day.id"></span>
							</div>
							<div class="tl_content">
								<h3>{{course_day.course_name}}</h3>
								<img alt="image event" v-bind:src="course_day.course_image">
								<dl>
									<template v-for="ser in course_day.service">
										<dd>{{ser}}</dd>
									</template>
								</dl>
							</div>
						</li>
					</template>
				</ul>
			</template>
		</template>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/semantic.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
